.screen {
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: #282828;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    text-align: right;
}

#line2 {
    font-weight: bold;
}
